.jobItem-container {
    background-color: #272727;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
}

.jobItem-header {
    display: flex;
    gap: 15px;
    height: 80px;
    align-items: center;
    margin-bottom: 15px;
    color: #f1eeee;
}

.jobItem-title {
    color: #ffffff;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star-icon {
    color: #fbbf24;
}

.jobItem-info-container {
    display: flex;
    padding: 5px;
    border-bottom: 2px solid #7c7b7b;
    justify-content: space-between;
}

.left-info-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.employment-type-container,
.location-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.description-title {
    font-size: large;
    margin: 10px 0px;
    color: #f1eeee;
}

.salary {
    font-size: large;
    font-weight: 600;
}

.description {
    line-height: 25px;
}

.link {
    text-decoration: none;
    color: #d7d4d4;
}